{% extends 'recipes/base.html' %}

{% block content %}


    <div class="container">
        <h1>Recipes</h1>
        {% for recipe in recipes %}
            <div class="card my-4" style="width: 1060px;">
                <div class="card-body">
                    <h5 class="card-title">Title: {{ recipe.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Created by {{ recipe.author }} on {{ recipe.created_at|date:"d F, Y" }}</h6>
                    <p class="card-text">Procedure: {{ recipe.procedure }}</p>
                    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">{{ recipe.updated_at|date:"d F, Y" }}</h6> -->
                    <a href="{% url 'recipes-detail' recipe.pk %}" class="card-link">View Recipe</a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
