{% extends 'base.html' %} {% load crispy_forms_tags %}
{% block content %}

<center class="card py-5" style="width: 50%; margin: auto;">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <p class="mb-4">Are you sure you want to delete {{ object }} recipe?</p>
       
        <div class="form-group py-3">
            <input class="btn btn-outline-danger" type="submit" value="Delete">
            <div class="pt-3">
                <a href="{% url 'recipes' %}">Cancel</a>
            </div>
        </div>
    </form>
</center>

{% endblock %}