{% extends 'base.html' %}

{% block content %}

    <h1>{{ object.author|capfirst }}'s Recipe </h1>
        <div class="card my-4" style="width: 100%; border: none">
            <div class="card-body">
                <div class="d-inline">
                    <h5 class="card-title"><strong>{{ object.title }}</strong></h5>
                    <p class="text-body-secondary">{{ object.created_at|date:"d F, Y" }}</p>
                </div>
                <!-- <h6 class="card-subtitle mb-2 text-muted">{{ object.author }}</h6> -->
                 <h6><strong> Procedure: </strong></h6>
                <p class="card-text">{{ object.procedure }}</p>
                <!-- <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.updated_at|date:"d F, Y" }}</h6> -->
            </div>
        </div>
        {% if object.author == user or user.is_staff %}
            <div class="col-4">
                <a class="btn btn-info btn-sm" href="{% url 'recipes-update' object.id %}">Update</a>
                <a class="btn btn-default btn-sm" href="{% url 'recipes' %}">Back</a>
            </div>
        {% else %}
            <div class="col-4">
                <a class="btn btn-outline-dark btn-sm" href="{% url 'recipes' %}">Back</a>
            </div>
        {% endif %}
{% endblock %}
