{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-">Register</legend>
        </fieldset>
        <div class="form-group py-3">
            {{ form.as_p  }}

            <input class="btn btn-outline-primary" type="submit" value="Submit">
        </div>
    </form>
    <div class="border-top pt-3">
        <p>Already Have an account? Login in <a href="{% url 'login' %}"> here.</a></p>
    </div>
</div>

{% endblock %}